[submodule "Spatify"]
	path = Spatify
	url = git@github.com:CLV-Iclucia/Spatify.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/icaven/glm.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "external/minilog"]
	path = external/minilog
	url = git@github.com:CLV-Iclucia/minilog.git
